WebContent/wsdl/Calculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servicio" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servicio" xmlns:intf="http://servicio" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://servicio" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="divide">
    <complexType>
     <sequence>
      <element name="x" type="xsd:int"/>
      <element name="y" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divideResponse">
    <complexType>
     <sequence>
      <element name="divideReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="suma">
    <complexType>
     <sequence>
      <element name="x" type="xsd:int"/>
      <element name="y" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumaResponse">
    <complexType>
     <sequence>
      <element name="sumaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicar">
    <complexType>
     <sequence>
      <element name="x" type="xsd:int"/>
      <element name="y" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicarResponse">
    <complexType>
     <sequence>
      <element name="multiplicarReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="resta">
    <complexType>
     <sequence>
      <element name="x" type="xsd:int"/>
      <element name="y" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="restaResponse">
    <complexType>
     <sequence>
      <element name="restaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="multiplicarResponse">

      <wsdl:part element="impl:multiplicarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divideRequest">

      <wsdl:part element="impl:divide" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="restaRequest">

      <wsdl:part element="impl:resta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="restaResponse">

      <wsdl:part element="impl:restaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumaRequest">

      <wsdl:part element="impl:suma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divideResponse">

      <wsdl:part element="impl:divideResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicarRequest">

      <wsdl:part element="impl:multiplicar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumaResponse">

      <wsdl:part element="impl:sumaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculadora">

      <wsdl:operation name="divide">

         <wsdl:input message="impl:divideRequest" name="divideRequest">

       </wsdl:input>

         <wsdl:output message="impl:divideResponse" name="divideResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="suma">

         <wsdl:input message="impl:sumaRequest" name="sumaRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumaResponse" name="sumaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicar">

         <wsdl:input message="impl:multiplicarRequest" name="multiplicarRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicarResponse" name="multiplicarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="resta">

         <wsdl:input message="impl:restaRequest" name="restaRequest">

       </wsdl:input>

         <wsdl:output message="impl:restaResponse" name="restaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculadoraSoapBinding" type="impl:Calculadora">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="divide">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divideRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divideResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="suma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="resta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="restaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="restaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculadoraService">

      <wsdl:port binding="impl:CalculadoraSoapBinding" name="Calculadora">

         <wsdlsoap:address location="http://localhost:8080/CalculadoraWeb/services/Calculadora"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
